<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>

<form action="#" method="post">
    <p>Which show are we updating? </p>
    <p><input type"text" name="old_name" /></p>

    <p>Updated show name: </p>
    <p><input type"text" name="name" /></p>

    <p>updated number of seasons: </p>
    <p><input type"int" name="seasons" /></p>

    <p>updated episode duration: </p>
    <p><input type"text" name="length" /></p>

    <p>updated year started :</p>
    <p><input type"int" name="year_started" /></p>

    <p><input type="submit" value="submit"/></p>
</form>

</html>